<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MovieTheque - Acteurs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet" media="screen"> </link>
    <link th:href="@{/css/starter-template.css}" rel="stylesheet" media="screen"> </link>
    <link th:href="@{/css/footable.bootstrap.min.css}" rel="stylesheet" media="screen"> </link>
    <link th:href="@{/css/toastr.css}" rel="stylesheet"></link>
    <link th:href="@{/css/select2.css}" rel="stylesheet"></link>
    <style>
        .modal-dialog {
            position: absolute;
            top: 150px;
            right: 100px;
            bottom: 0;
            left: 150px;
            z-index: 10040;
            overflow: auto;
            overflow-y: auto;
        }
        .form-group.required .control-label:after {
            content:"*";
            color:red;
            margin-left: 4px;
        }
    </style>
</head>

<body>
<div class="modal fade" id="editor-modal" tabindex="-1" role="dialog" aria-labelledby="editor-title">
    <div class="modal-dialog" role="document">
        <form class="modal-content form-horizontal" id="editor">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="editor-title">Ajouter acteur</h4>
            </div>
            <div class="modal-body">
                <input type="number" id="id" name="id" class="hidden"/>
                <div class="form-group required">
                    <label for="nom" class="col-sm-4 control-label">Nom</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="nom" name="nom" required="true"/>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="prenom" class="col-sm-4 control-label">Prenom</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="prenom" name="prenom" required="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dateDeNaissance" class="col-sm-4 control-label">Date de naissance</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" id="dateDeNaissance" name="dateDeNaissance"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="selectFilm1" class="col-sm-4 control-label">Premiers Roles</label>
                    <div class="col-sm-8">
                        <select name="selectFilm1[]" class="form-control js-example-basic-multiple" id="selectFilm1" multiple="multiple">
                            <option th:each="film : ${filmsListe}" th:value="${film.id}" th:text="${film.nom}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="selectFilm1" class="col-sm-4 control-label">Seconds Roles</label>
                    <div class="col-sm-8">
                        <select name="selectFilm2[]" class="form-control js-example-basic-multiple" id="selectFilm2" multiple="multiple">
                            <option th:each="film : ${filmsListe}" th:value="${film.id}" th:text="${film.nom}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="selectFilm1" class="col-sm-4 control-label">Roles Inconnus</label>
                    <div class="col-sm-8">
                        <select name="selectFilm3[]" class="form-control js-example-basic-multiple" id="selectFilm3" multiple="multiple">
                            <option th:each="film : ${filmsListe}" th:value="${film.id}" th:text="${film.nom}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" data-style="expand-left" class="ladda-button ladda-button-demo btn btn-primary">Sauvegarder</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">MovieTheque</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/films/">Films</a></li>
                <li><a href="/series/">Séries</a></li>
                <li class="active"><a href="/acteurs/">Acteurs</a></li>
                <li><a href="/api/">API</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <table id="editing-example"  class="footable table" >
            <thead>
            <tr>
                <th data-visible="false" data-sorted="true" data-sortable="true" data-type="number" data-direction="DESC" data-filterable="false">Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Date de naissance</th>
                <th data-visible="false" data-sortable="false" data-filterable="false"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="acteur : ${acteursListe}">
                <td th:text="${acteur.id}"></td>
                <td th:text="${acteur.nom}"></td>
                <td th:text="${acteur.prenom}"></td>
                <td th:text="${acteur.dateDeNaissance} ? ${#dates.format(acteur.dateDeNaissance,'dd MMMM yyyy')} : 'Pas de date de naissance'"></td>
                <td th:text="${acteur.dateDeNaissance} ? ${#dates.format(acteur.dateDeNaissance,'yyyy-MM-dd')}"></td>
            </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>

</div><!-- /.container -->


</body>

<script src="http://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script th:src="@{/js/moment.js}"></script>
<script th:src="@{/js/moment-with-locales.js}"></script>
<script th:src="@{/js/bootstrap.min.js}" ></script>
<script th:src="@{/js/footable.min.js}"></script>
<script th:src="@{/js/toastr.js}"></script>
<script th:src="@{/js/select2.js}"></script>
<script>
    jQuery(function($){
        $('#selectFilm1').select2({
            width: '100%'
        });
        $('#selectFilm2').select2({
            width: '100%'
        });
        $('#selectFilm3').select2({
            width: '100%'
        });

        $('#selectFilm1').on("select2:select",function(e){
            $("#selectFilm2>option[value="+e.params.data.id+"]").attr('disabled','disabled');
            $("#selectFilm3>option[value="+e.params.data.id+"]").attr('disabled','disabled');
            $("#selectFilm2").select2();
            $("#selectFilm3").select2();
        });
        $('#selectFilm2').on("select2:select",function(e){
            $("#selectFilm1>option[value="+e.params.data.id+"]").attr('disabled','disabled');
            $("#selectFilm3>option[value="+e.params.data.id+"]").attr('disabled','disabled');
            $("#selectFilm1").select2();
            $("#selectFilm3").select2();
        });
        $('#selectFilm3').on("select2:select",function(e){
            $("#selectFilm1>option[value="+e.params.data.id+"]").attr('disabled','disabled');
            $("#selectFilm2>option[value="+e.params.data.id+"]").attr('disabled','disabled');
            $("#selectFilm1").select2();
            $("#selectFilm2").select2();
        });

        $('#selectFilm1').on("select2:unselect",function(e){
            $("#selectFilm2>option[value="+e.params.data.id+"]").removeAttr('disabled');
            $("#selectFilm3>option[value="+e.params.data.id+"]").removeAttr('disabled');
            $("#selectFilm2").select2();
            $("#selectFilm3").select2();
        });
        $('#selectFilm2').on("select2:unselect",function(e){
            $("#selectFilm1>option[value="+e.params.data.id+"]").removeAttr('disabled');
            $("#selectFilm3>option[value="+e.params.data.id+"]").removeAttr('disabled');
            $("#selectFilm1").select2();
            $("#selectFilm3").select2();
        });
        $('#selectFilm3').on("select2:unselect",function(e){
            $("#selectFilm1>option[value="+e.params.data.id+"]").removeAttr('disabled');
            $("#selectFilm2>option[value="+e.params.data.id+"]").removeAttr('disabled');
            $("#selectFilm1").select2();
            $("#selectFilm2").select2();
        });

        var $modal = $('#editor-modal'),
            $editor = $('#editor'),
            $editorTitle = $('#editor-title');
        var ft = FooTable.init('#editing-example', {
            paging: {
                "enabled": true,
                "countFormat": "{CP} / {TP}",
            },
            filtering: {
                "enabled": true
            },
            sorting: {
                "enabled": true
            },
            editing: {
                "enabled": true,
                "alwaysShow": true,
                "allowView": true,
                "addText": "Ajouter un acteur",
                viewRow: function(row){
                    var values = row.val();
                    window.location.href = "http://localhost:8080/api/acteur/"+values.col1;
                },
                addRow: function(){
                    $modal.removeData();
                    $("#selectFilm1").val('').trigger('change');
                    $("#selectFilm3").val('').trigger('change');
                    $("#selectFilm2").val('').trigger('change');
                    $editor[0].reset();
                    $editorTitle.text('Ajouter un nouvel acteur');
                    $modal.modal('show');
                },
                editRow: function(row){
                    console.log(row.val());
                    var values = row.val();
                    $editor.find('#id').val(values.col1);
                    $editor.find('#nom').val(values.col2);
                    $editor.find('#prenom').val(values.col3);
                    $editor.find('#dateDeNaissance').val(values.col5);
                    $.ajax({
                        url: "http://localhost:8080/api/acteur/"+values.col1,
                        method:"get",
                        success : function(res, statut){
                            var listFilms = res.filmsList;
                            var listeFilm1 = [];
                            var listeFilm2 = [];
                            var listeFilm3 = [];
                            $.each(listFilms,function(index,film){
                              if(film.importance=="IMPORTANCE_SECONDAIRE"){
                                  listeFilm2.push(film.filmId);
                                  $("#selectFilm1>option[value="+film.filmId+"]").attr('disabled','disabled');
                                  $("#selectFilm3>option[value="+film.filmId+"]").attr('disabled','disabled');
                               }
                               else if(film.importance=="IMPORTANCE_PRINCIPALE"){
                                  listeFilm1.push(film.filmId);
                                  $("#selectFilm2>option[value="+film.filmId+"]").attr('disabled','disabled');
                                  $("#selectFilm3>option[value="+film.filmId+"]").attr('disabled','disabled');
                              }
                              else{
                                  listeFilm3.push(film.filmId);
                                  $("#selectFilm1>option[value="+film.filmId+"]").attr('disabled','disabled');
                                  $("#selectFilm2>option[value="+film.filmId+"]").attr('disabled','disabled');
                              }
                           });
                            $('#selectFilm1').val(listeFilm1).trigger('change');
                            $('#selectFilm2').val(listeFilm2).trigger('change');
                            $('#selectFilm3').val(listeFilm3).trigger('change');
                        },
                    });
                    $modal.data('row', row);
                    $editorTitle.text('Editer acteur ' + values.col2+' '+values.col3);
                    $modal.modal('show');
                },
                deleteRow: function(row){
                    var values = row.val();
                    $.ajax({
                        url: "http://localhost:8080/api/acteur/delete/"+values.col1,
                        method:"post",
                        success : function(res, statut) {
                            toastr.error("L'acteur a été supprimé");
                            row.delete();
                        },
                        error : function(resultat, statut, erreur){
                            var responseErrors = JSON.parse(resultat.responseText);
                            if (responseErrors.errors){
                                responseErrors.errors.forEach(function(error){
                                    toastr.error(error);
                                });
                            }
                            else if(responseErrors.message){
                                toastr.error(responseErrors.message);
                            }
                            else{
                                toastr.error("Il y a eu un problème");
                            }
                        }
                    });
                }
            }
        });

        $editor.on('submit', function(e){
            /*<![CDATA[*/
            if (this.checkValidity   && !this.checkValidity()){
                return;
            }/*]]>*/

            e.preventDefault();
            if($editor.find('#dateDeNaissance').val()=="")
                var stringDate = "Pas de date de naissance";
            else
                var stringDate = moment($editor.find('#dateDeNaissance').val()).locale("fr").format('LL');
            var row = $modal.data('row'),
                values = {
                    col1: $editor.find('#id').val(),
                    col2: $editor.find('#nom').val(),
                    col3: $editor.find('#prenom').val(),
                    col4: stringDate,
                    col5: $editor.find('#dateDeNaissance').val(),
                    col6: $editor.find('#selectFilm1').val(),
                    col7: $editor.find('#selectFilm2').val(),
                    col8: $editor.find('#selectFilm3').val()
                };

            if (row instanceof FooTable.Row){
                $.ajax({
                    url: "http://localhost:8080/api/acteur/update/"+values.col1,
                    method:"put",
                    data: {nom:values.col2,
                        prenom:values.col3,
                        dateDeNaissance:values.col5,
                        selectFilm1:JSON.stringify(values.col6),
                        selectFilm2:JSON.stringify(values.col7),
                        selectFilm3:JSON.stringify(values.col8)
                    },
                    success : function(res, statut){
                        $modal.modal('hide');
                        row.val(values);
                        toastr.info("L'acteur a été modifié");
                    },
                    error : function(resultat, statut, erreur){
                        var responseErrors = JSON.parse(resultat.responseText);
                        if (responseErrors.errors){
                            responseErrors.errors.forEach(function(error){
                                toastr.error(error);
                            });
                        }
                        else if(responseErrors.message){
                            toastr.error(responseErrors.message);
                        }
                        else{
                            toastr.error("Il y a eu un problème");
                        }
                    }
                });
            } else {
                $.ajax({
                    url: "http://localhost:8080/api/acteur/add",
                    method:"post",
                    dataType:'json',
                    data: {nom:values.col2,
                        prenom:values.col3,
                        dateDeNaissance:values.col5,
                        selectFilm1:JSON.stringify(values.col6),
                        selectFilm2:JSON.stringify(values.col7),
                        selectFilm3:JSON.stringify(values.col8)
                    },
                    success : function(res){
                        values.col1=res.id;
                        ft.rows.add(values);
                        $modal.modal('hide');
                        toastr.info("L'acteur a été ajouté");
                    },
                    error : function(resultat){
                        var responseErrors = JSON.parse(resultat.responseText);
                        if (responseErrors.errors){
                            responseErrors.errors.forEach(function(error){
                                toastr.error(error);
                            });
                        }
                        else if(responseErrors.message){
                            toastr.error(responseErrors.message);
                        }
                        else{
                            toastr.error("Il y a eu un problème");
                        }
                    }
                });
            }

        });
    });
</script>
</html>