<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MovieTheque - Films</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet" media="screen"> </link>
    <link th:href="@{/css/starter-template.css}" rel="stylesheet" media="screen"> </link>
    <link th:href="@{/css/footable.bootstrap.min.css}" rel="stylesheet" media="screen"> </link>
    <link th:href="@{/css/toastr.css}" rel="stylesheet"></link>
    <style>
        .modal-dialog {
            position: absolute;
            top: 150px;
            right: 100px;
            bottom: 0;
            left: 150px;
            z-index: 10040;
            overflow: auto;
            overflow-y: auto;
        }
        .form-group.required .control-label:after {
            content:"*";
            color:red;
            margin-left: 4px;
        }
    </style>
</head>

<body>
<div class="modal fade" id="editor-modal" tabindex="-1" role="dialog" aria-labelledby="editor-title">
    <div class="modal-dialog" role="document">
        <form class="modal-content form-horizontal" id="editor">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="editor-title">Ajouter film</h4>
            </div>
            <div class="modal-body">
                <input type="number" id="id" name="id" class="hidden"/>
                <div class="form-group required">
                    <label for="nom" class="col-sm-4 control-label">Nom</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="nom" name="nom" required="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dateDeSortie" class="col-sm-4 control-label">Date de sortie</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" id="dateDeSortie" name="dateDeSortie"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" data-style="expand-left" class="ladda-button ladda-button-demo btn btn-primary">Sauvegarder</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">MovieTheque</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/films/">Films</a></li>
                <li><a href="/series/">Séries</a></li>
                <li><a href="/acteurs/">Acteurs</a></li>
                <li><a href="/api/">API</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <table id="editing-example"  class="footable table" >
            <thead>
            <tr>
                <th data-visible="false" data-sorted="true" data-sortable="true" data-type="number" data-direction="DESC" data-filterable="false">Id</th>
                <th>Nom</th>
                <th>Date de Sortie</th>
                <th data-visible="false" data-sortable="false" data-filterable="false"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="film : ${filmsListe}">
                <td th:text="${film.id}"></td>
                <td th:text="${film.nom}"></td>
                <td th:text="${film.dateDeSortie} ? ${#dates.format(film.dateDeSortie,'dd MMMM yyyy')} : 'Pas de date de sortie'"></td>
                <td th:text="${film.dateDeSortie} ? ${#dates.format(film.dateDeSortie,'yyyy-MM-dd')}"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5">
                    <ul class="pagination pull-right"></ul>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

</div>


</body>

<script src="http://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script th:src="@{/js/moment.js}"></script>
<script th:src="@{/js/moment-with-locales.js}"></script>
<script th:src="@{/js/bootstrap.min.js}" ></script>
<script th:src="@{/js/footable.min.js}"></script>
<script th:src="@{/js/toastr.js}"></script>
<script>
    jQuery(function($){
        var $modal = $('#editor-modal'),
            $editor = $('#editor'),
            $editorTitle = $('#editor-title');
        var ft = FooTable.init('#editing-example', {
            paging: {
                "enabled": true,
                "countFormat": "{CP} / {TP}",
            },
            filtering: {
                "enabled": true
            },
            sorting: {
                "enabled": true
            },
            editing: {
                "enabled": true,
                "alwaysShow": true,
                "allowView": true,
                "addText": "Ajouter un film",
                viewRow: function(row){
                    var values = row.val();
                    window.location.href = "http://localhost:8080/api/film/"+values.col1;
                },
                addRow: function(){
                    $modal.removeData('row');
                    $editor[0].reset();
                    $editorTitle.text('Ajouter un nouveau film');
                    $modal.modal('show');
                },
                editRow: function(row){
                    console.log(row.val());
                    var values = row.val();
                    $editor.find('#id').val(values.col1);
                    $editor.find('#nom').val(values.col2);
                    $editor.find('#dateDeSortie').val(values.col4);
                    $modal.data('row', row);
                    $editorTitle.text('Editer film ' + values.col2);
                    $modal.modal('show');
                },
                deleteRow: function(row){
                    var values = row.val();
                    $.ajax({
                        url: "http://localhost:8080/api/film/delete/"+values.col1,
                        method:"post",
                        success : function(res, statut) {
                            toastr.error("Le film a été supprimé");
                            row.delete();
                        },
                        error : function(resultat, statut, erreur){
                            var responseErrors = JSON.parse(resultat.responseText);
                            if (responseErrors.errors){
                                responseErrors.errors.forEach(function(error){
                                    toastr.error(error);
                                });
                            }
                            else if(responseErrors.message){
                                toastr.error(responseErrors.message);
                            }
                            else{
                                toastr.error("Il y a eu un problème");
                            }
                        }
                    });
                }
            }
        });

        $editor.on('submit', function(e){
            /*<![CDATA[*/
            if (this.checkValidity   && !this.checkValidity()){
                return;
            }/*]]>*/

            e.preventDefault();
            if($editor.find('#dateDeSortie').val()=="")
                var stringDate = "Pas de date de sortie";
            else
                var stringDate = moment($editor.find('#dateDeSortie').val()).locale("fr").format('LL');
            var row = $modal.data('row'),
                values = {
                    col1: $editor.find('#id').val(),
                    col2: $editor.find('#nom').val(),
                    col3: stringDate,
                    col4: $editor.find('#dateDeSortie').val(),
                };

            if (row instanceof FooTable.Row){
                console.log(values);
                $.ajax({
                    url: "http://localhost:8080/api/film/update/"+values.col1,
                    method:"put",
                    data: {nom:values.col2, dateDeSortie:values.col4},
                    success : function(res, statut){
                        $modal.modal('hide');
                        row.val(values);
                        toastr.info("Le film a été modifié");
                    },
                    error : function(resultat, statut, erreur){
                        var responseErrors = JSON.parse(resultat.responseText);
                        if (responseErrors.errors){
                            responseErrors.errors.forEach(function(error){
                                toastr.error(error);
                            });
                        }
                        else if(responseErrors.message){
                            toastr.error(responseErrors.message);
                        }
                        else{
                            toastr.error("Il y a eu un problème");
                        }
                    }
                });
            } else {
                $.ajax({
                    url: "http://localhost:8080/api/film/add",
                    method:"post",
                    dataType:'json',
                    data: {nom:values.col2, dateDeSortie:values.col4},
                    success : function(res){
                        values.col1=res.id;
                        ft.rows.add(values);
                        $modal.modal('hide');
                        toastr.info("Le film a été ajouté");
                    },
                    error : function(resultat){
                        var responseErrors = JSON.parse(resultat.responseText);
                        if (responseErrors.errors){
                            responseErrors.errors.forEach(function(error){
                                toastr.error(error);
                            });
                        }
                        else if(responseErrors.message){
                            toastr.error(responseErrors.message);
                        }
                        else{
                            toastr.error("Il y a eu un problème");
                        }
                    }
                });
            }

        });
    });
</script>
</html>