<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>MovieTheque</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"> </link>
        <link th:href="@{/css/starter-template.css}" rel="stylesheet" media="screen"> </link>
    </head>

    <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="homeLink" class="navbar-brand" href="/">MovieTheque</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a id="filmsLink" href="/films/">Films</a></li>
                    <li><a id="seriesLink" href="/series/">Séries</a></li>
                    <li><a id="acteursLink" href="/acteurs/">Acteurs</a></li>
                    <li><a id="apiLink" href="/api/">API</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">

        <div class="starter-template">
            <h1>Bienvenue sur Movietheque</h1>
        </div>

    </div><!-- /.container -->


    </body>

    <script src="http://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script th:src="@{/js/bootstrap.min.js}" ></script>
</html>